body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #66e6ef, #66c6e6);
    font-family: Arial, sans-serif;
}

#scanner-container {
    position: relative;
    display: inline-block;
    width: 80%;
    max-width: 600px;
}

video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#message {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    display: none;
}
